/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Righteous', cursive;
  margin: 0;
}

h1, h2 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3{
    margin:0;
}

a {
  color: #8d99ae;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.col-narrow {
  width: 30%;
  float: left;
}

.col-wide {
  width: 70%;
  float: left;
    padding-left: 20px;}

.uppercase{
    text-transform:uppercase;
}

/* Header and Footer
-------------------------*/
header, footer {
  background: #2B2D42;
  color: #8D99AE;
}

/* header */

header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
}

/* footer */

footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

nav{
    font-size:0;
/*    text-align:center;*/
    background:black;
}

nav a{
    border:1px solid white;
    font-size:20px;
    text-decoration:none;
    padding:25px;
    text-align:center;
    display:inline-block;
    background:black;
}

.navFixed{
    position:fixed;
    float:right;
    right:0px;
    padding:25px 15px;
    background-color:rgba(0, 0, 0, 0);
    color:#2B2D42;
}


/* Work Experience
-------------------------*/
.work {
  background: #EDF2F4;
}

h3~p{
    margin:0;
}

.job-description{
    margin-bottom:25px;
}

.job-description p:first-of-type{
    margin-top:0;
    min-height:90px;
}

/* Education
-------------------------*/
.education {
  
    
    background:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.5)), url("https://scontent.fphx1-2.fna.fbcdn.net/v/t1.0-9/26168459_947069592127730_7462648266885060059_n.jpg?oh=9a1f0ccdb3e85c216b988e36a989d326&oe=5B02A7F8") fixed;
    background-repeat: none;
    background-size: cover;

}

p+h3{
    margin-top:30px;
}

/* Media Queries
-------------------------*/
